.nav{
   
    height: 4rem;
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(75, 101, 231);
   color: azure;
}
.reset{
    background-color: white;
    padding: 5px 10px;
}